<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, user-scalable=yes">

		<title>FingerPaintr</title>

		<!-- external CSS link -->
		<%- include('partials/bootstraphead') -%>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<a href="/gallery"><%= userName %>'s Gallery</a>
		<h1>Finger Paintr</h1>
		<a href="/logout">Log out</a>
		<div class="centeringBox">
			<canvas id="theCanvas" width="600" height="600" <% if(initCanvas) { %> data-init="<%= initCanvas %>" <% } %> >
				<p>
					This browser does not support the <code>canvas</code> element.<br>
					To use FingerPaintr, a more modern browser is required - or enable JavaScript.<br>
					One of those.
				</p>
			</canvas>
		</div>
		<input type="color" id="color" name="color" value = '#000'>
			<label for="color">Color</label>
		<input type="number" id="thickness" name="thickness" value = 3>
			<label for="thickness">Brush Size</label>
		<label for="imageUpload">Upload a image to paint on</label>
		<input type="file" id="imageUpload" name="imageUpload"
			accept="image/png, image/jpeg, image/jpg">
		<label for="imageDownload">Generate download link for your painting</label>
		<button id="imageDownload" name="imageDownload">Generate</button>
		<a id="downloadLink" download href="">If the file didn't download, click here</a>

		<div class="mt-5">
            <h2>Upload an Image Directly to Your Gallery</h2>
            <form action="/gallery" enctype="multipart/form-data" method="POST">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>

		<!--<label for="saveToGallery">Save image to your Gallery</label>
		<button id="saveToGallery">Save</button>-->
		<script type="text/javascript" src="/js/main.js"></script>
		<%- include('partials/bootstrapfoot') -%>
	</body>
</html>
