<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, user-scalable=yes">

		<title>FingerPaintr</title>

		<!-- external CSS link -->
		<%- include('partials/bootstraphead') -%>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Finger Paintr</h1>
		<a href="/login">Log In</a>
		<a href="/signup">Sign Up</a>
		<div class="centeringBox">
			<canvas id="theCanvas" width="600" height="600"> <!--TODO: Custom blank canvas sizes, presumably either from main.js or the EJS conversion. Regular JavaScript is already handling resizing for images-->
				<p>
					This browser does not support the <code>canvas</code> element.<br>
					To use FingerPaintr, a more modern browser is required - or enable JavaScript.<br>
					One of those.
				</p>
			</canvas>
		</div>
		<input type="color" id="color" name="color" value = '#000'>
			<label for="color">Color</label>
		<input type="number" id="thickness" name="thickness" value = 3>
			<label for="thickness">Brush Size</label>
		<label for="imageUpload">Upload a image to paint on</label>
		<input type="file" id="imageUpload" name="imageUpload"
			accept="image/png, image/jpeg, image/jpg">
		<label for="imageDownload">Generate download link for your painting</label>
		<button id="imageDownload" name="imageDownload">Generate</button>
		<a id="downloadLink" download href="">If the file didn't download, click here</a>
		

		<script type="text/javascript" src="js/main.js"></script>
		<%- include('partials/bootstrapfoot') -%>
	</body>
</html>
