/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background-color: darkolivegreen;
}
canvas {
     background-color: white;
}
#imageUpload {
     /*opacity: 0; *//*At MDN's recommendation because file upload is ugly*/
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}
.centeringBox {
     display: flex;
     justify-content: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
     text-align: center;
}